html{
	height:100%;
	width:100%;
	padding:0px;
	
}

body{
	font-family: 'Source Sans Pro', sans-serif;	
}

.fill{
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}

/*******************  Telemetry *******************/

.telemetryHolder {
	position:relative;
}


.telemetryRow{
	background:rgba(10,10,10,.6);
	color:#fff;
}

.tel-header, .tel-sub-header {
	text-transform:uppercase;
	font-size: 10px;
	font-weight: 800;
	margin: 12px 0 0 0;
	letter-spacing: .8px;
}

.tel-sub-header {
	font-weight: 400;
	margin-top:4px;
}

.tel-detail {
	font-size:40px;
	font-weight: 200;
}

#tel-lat, #tel-long {
	font-size:25px;
	margin-bottom: 4px;
}

.tel-detail span{
	font-size: 10px;
	font-weight: 400;
	vertical-align: 17px;
    margin-left: 4px;
}

#tel-compass {
	background: transparent url('../img/compass_bg.png') no-repeat;
	position: relative;
	width:84px;
	height:84px;
	margin-top: 32px;
}

#tel-compass img{
	position: absolute;
	top:0px;
	left:0px;
}

#tel-compass p{
	position:absolute;
	width:100%;
	top:17px;
	text-align: center;
}


/*******************  Image Stream *******************/

.image-stream {
	bottom:160px;
}

.image-stream div{
	text-align: right;
	padding-right: 45px;
}

.image-stream img{
	width:300px;
}

/*******************  Scatter plot *******************/

.scatter-plot {
	width:500px;
	height:500px;
	background:#fff;
	bottom:160px;
	left:45px;
}

#graph-scatter-plot {
	position: relative;
}

.landing-box-loc {
	width:4px;
	height: 4px;
	border-radius: 2px;
	background-color:#4ABDE2;
	position: absolute;
}
/*******************  Map Controls *******************/

.leaflet-bottom{
	bottom: 165px;
}

.centerToggle{
	position: absolute;
	bottom: 195px;
    right: 60px;
    color:#fff;
    z-index: 1000;
}

.toggleOn, .toggleOff {
	position: relative;
	width: 50px;
    height: 32px;
    border-radius: 15px;
    border: 1px solid #fff;
    margin:4px 0 0 20px;
}

.toggleOn{
	background: #4ABDE2;
}

.toggleOn .togleMarker, .toggleOff .togleMarker {
	height: 26px;
	width: 26px;
	border-radius: 13px;
	position: absolute;
	top:2px;
	left:2px;
	background: #fff;
	transition: all 0.3s ease;
}

.toggleOn .togleMarker {
	left:20px;
}

/*******************  Gauges *******************/


#groundGauge, #airGauge {
	transform: rotate(-45deg);
	position: absolute;
    top: 8px;
    left: -90px;
}

#tel-speed, #tel-airSpeed {
	margin-top: 65px;
    margin-left: 59px;
}