*.pyc
/.idea/
/pathfinding.iml
/pathFinding.engine/rhinoPathFinding.egg-info/
/pathFinding.engine/scenarios/
/rhinoPathFinding.egg-info/
rhinoPathFinding*.egg
/pathFinding/C/build
.project
.pydevproject