<launch>

  <!-- without this ROS and gazebo use different times, and tf does not work -->
  <param name="/use_sim_time" value="true" />
  
  <!-- gazebo quadcopter simultaion -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find obc_gazebo)/worlds/obc.world"/>
  </include>

  <!-- image pipeline -->
  <node pkg="camera_driver" type="blob_detector.py"   name="blob_detector" ns="nikon">
    <remap from="image" to="/nikon/image_raw"/>
    <param name="show_picker" value="false"/>
  </node>

  <!-- mavros -->
  <arg name="fcu_url" default="udp://:14540@127.0.0.1:14557" />
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />
  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find obc_gazebo)/launch/px4_config.yaml" />
    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
  </include>

  <!-- Publish static frame translation from quad to camera -->
  <!-- Camera mounted on the front of the quad and pitched down 90 degrees -->
  <!-- 
         the quaternion in args has scalar part last!!!
  --> 
  <node pkg="tf" type="static_transform_publisher" name="nikon_link_broadcaster" 
  	args="0.11 0 0.001     0.  0.70710678  0. 0.70710678    fcu nikon 200" 
	/>

<!--
	args="0.11 0 0.001     0.  0.70710678  0. 0.70710678    fcu nikon 200" 
	args="0.11 0 0.001      0.07465817 -0.1802403  0.37533108  0.90612702     fcu nikon 200" 
-->

</launch>
