<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find obc_gazebo)/worlds/obc.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node pkg="camera_driver" type="blob_detector.py"   name="blob_detector" ns="nikon">
	<remap from="image" to="/nikon/rgb/image_raw"/>
	<param name="show_picker" value="false"/>
  </node>
</launch>
