<?xml version="1.0"?>
<model>
  <name>Outback Challenge Quadcopter</name>
  <version>1.0</version>
  <sdf version='1.4'>obc_quad.sdf</sdf>

  <author>
   <name>Marty Kube</name>
   <email>marty@beavercreekconsulting.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a Nikon camera attached.
  </description>
</model>
