<launch>
  <node pkg="camera_driver" type="camera_pump.py"  name="camera_pump"     ns="e2500" respawn="true" respawn_delay="10">
  	<param name="rate" value="10"/>
  </node>
  <node pkg="camera_driver" type="webcam.py"       name="webcam"          ns="e2500">
  	<param name="webcam_model" value="e2500"/>
  </node>
  <node pkg="image_proc"    type="image_proc"      name="image_proc"      ns="e2500">
  	<remap from="image" to="image_raw"/>
  </node>
  <node pkg="camera_driver" type="people_detector" name="people_detector" ns="e2500">
	<remap from="people_detector/image" to="image_rect"/>
  </node>
</launch>
