<launch>

  <node pkg="polled_camera" type="poller"  name="camera_pump"   respawn="true" respawn_delay="10" args="0.1">
  	<remap from="output" to="d5100"/>
	<remap from="camera" to="d5100"/>
  </node>

  <node pkg="camera_driver" type="nikon_d5100"       name="d5100"/>

  <node pkg="image_proc"    type="image_proc"      name="image_proc"      ns="d5100">
  	<remap from="image" to="image_raw"/>
  </node>

  <node pkg="camera_driver" type="blob_detector.py"   name="blob_detector"   ns="d5100">
	<remap from="image" to="image_rect_color"/>
        <param name="show_picker" value="false"/>
  </node>

  <node pkg="camera_driver" type="image_to_target.py"   name="image_to_target" ns="d5100">
    <remap from="image_location" to="/d5100/joe_location"/>
    <remap from="camera_info" to="/d5100/camera_info"/>
  </node>

 <!-- mavros -->
<!--
  <arg name="fcu_url" default="/dev/ttyACM0" />
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="1" />
  <arg name="log_output" default="screen" />
  <include file="$(find mavros)/launch/node.launch">
    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" value="$(find camera_driver)/launch/px4_config.yaml" />
    <arg name="fcu_url" value="$(arg fcu_url)" />
    <arg name="gcs_url" value="$(arg gcs_url)" />
    <arg name="tgt_system" value="$(arg tgt_system)" />
    <arg name="tgt_component" value="$(arg tgt_component)" />
    <arg name="log_output" value="$(arg log_output)" />
  </include>
-->
  <!-- Publish static frame translation from quad to camera -->
  <!-- Camera mounted on the front of the quad and pitched down 90 degrees -->
  <!-- 
         the quaternion in args has scalar part last!!!
  -->
  <node pkg="tf" type="static_transform_publisher" name="nikon_link_broadcaster" 
        args="0.29  -0.18  0.04       0. 0. 0. 1.  fcu nikon 200" 
        />
</launch>
